#signup-form-wrapper {
  padding: 60px;
  padding-bottom: 52px;
  margin-top: 16px;
  background-color: #FFFFFF;
  border-radius: 5px;
  -webkit-box-shadow: 0 6px 67px 0 rgba(11, 116, 55, 0.14);
          box-shadow: 0 6px 67px 0 rgba(11, 116, 55, 0.14);
  --label-color: #888888;
  --input-color: #4D4D4D; }
  #signup-form-wrapper header h3 {
    margin-bottom: 12px;
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
    font-size: 28px;
    font-weight: 900;
    font-style: italic;
    color: #4D4D4D;
    letter-spacing: 0;
    text-align: center;
    line-height: 26px; }
  #signup-form-wrapper header span {
    font-weight: 400;
    font-size: 15px;
    color: #888888;
    letter-spacing: 0; }
  #signup-form-wrapper form {
    margin-top: 36px; }
    #signup-form-wrapper form .input-field {
      position: relative;
      text-align: left;
      margin-bottom: 17px; }
      #signup-form-wrapper form .input-field label, #signup-form-wrapper form .input-field input {
        position: relative;
        font-size: 15px;
        font-weight: 400; }
        #signup-form-wrapper form .input-field label:focus, #signup-form-wrapper form .input-field input:focus {
          outline: none; }
      #signup-form-wrapper form .input-field__text {
        height: 48px; }
        #signup-form-wrapper form .input-field__text label {
          display: block;
          width: 100%;
          position: relative;
          margin: 0;
          z-index: 1;
          font-size: 15px;
          line-height: 15px;
          color: var(--label-color);
          -webkit-transform: translateY(1.6em);
                  transform: translateY(1.6em);
          -webkit-transition: all .2s ease-out;
          transition: all .2s ease-out;
          -webkit-transform-origin: 0 100%;
                  transform-origin: 0 100%; }
          #signup-form-wrapper form .input-field__text label.active {
            -webkit-transform: none;
                    transform: none;
            font-size: 12px; }
        #signup-form-wrapper form .input-field__text input {
          width: 100%;
          border: none;
          border-bottom: 1px solid #E4E4E4;
          color: var(--input-color);
          padding-bottom: 8px; }
      #signup-form-wrapper form .input-field__checkbox {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        margin-top: 27px; }
    #signup-form-wrapper form input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 19px;
      height: 19px;
      margin-right: 12px;
      background: #FFFFFF;
      border: 1px solid #D4D4D4;
      border-radius: 3px; }
      #signup-form-wrapper form input[type="checkbox"]:checked {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%230A7A3A' d='M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z'/%3E%3C/svg%3E");
        background-position: center center;
        background-size: 90%;
        background-repeat: no-repeat; }
      #signup-form-wrapper form input[type="checkbox"] + label {
        font-size: 13px;
        position: relative;
        margin-bottom: 0;
        color: var(--label-color); }
    #signup-form-wrapper form .privacy-policy {
      margin-top: 24px;
      font-family: "Lato", sans-serif;
      font-size: 13px;
      text-align: left;
      color: var(--label-color); }
      #signup-form-wrapper form .privacy-policy p {
        margin-bottom: 2rem; }
    #signup-form-wrapper form button[type="submit"] {
      width: 100%; }

body > header {
  position: relative;
  z-index: 9; }

.button-primary {
  min-width: 225px;
  padding: 12px 16px;
  background: #D92F26;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 4px 6px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 4px 6px 0 rgba(0, 0, 0, 0.06);
  border: none;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer; }
  .button-primary:focus {
    outline: none; }

:root {
  --blue-90: #474F55;
  --grey-90: #4D4D4D;
  --grey-70: #888888;
  --grey-40: #B4B4B4;
  --pizza-red: #D92F26; }

body {
  font-family: "Lato", sans-serif;
  padding-top: 66px; }

#main {
  position: relative;
  margin-top: -127px; }

h2 {
  font-weight: 600;
  font-style: italic;
  font-size: clamp(22px, 3vw, 32px);
  color: var(--grey-90); }

.small-text {
  font-weight: 300;
  font-size: clamp(13px, 3vw, 14px);
  color: var(--grey-40);
  text-align: center;
  margin: 0; }

.hero {
  padding-top: 211px;
  height: 680px;
  background-image: url("img/2@-hero-background-bubble.png"), url("img/2@-hero-background-waves.png"), linear-gradient(133deg, #0D9B49 0%, rgba(25, 206, 101, 0.3) 100%), linear-gradient(270deg, rgba(255, 255, 255, 0) 22%, #FFFFFF 70%), url("img/2@-hero-background-image.jpg");
  background-size: 58rem, contain, contain, contain, contain;
  background-position: left top, center bottom, 0 0, 0 0, right center;
  background-repeat: no-repeat;
  background-color: #000000; }
  .hero-left-column h1 {
    margin: 0;
    position: relative;
    font-size: clamp(26px, 3vw, 38px);
    font-weight: 400;
    font-style: italic;
    line-height: clamp(32px, 3vw, 46px);
    letter-spacing: 0;
    color: #FFFFFF; }
    .hero-left-column h1:after {
      content: '';
      position: relative;
      display: block;
      width: 306px;
      height: 4px;
      bottom: -4px;
      left: -2px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 5px;
      background-color: #FFFFFF; }
  .hero-left-column p {
    margin-top: 26px;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF; }

section.benefits {
  margin-top: 70px;
  margin-bottom: 130px; }
  section.benefits h2 {
    position: relative;
    margin-bottom: 17px; }
    section.benefits h2:after {
      content: '';
      display: block;
      bottom: 0;
      width: 68px;
      height: 4px;
      margin-top: 17px;
      background: var(--pizza-red);
      border-radius: 2px; }
  section.benefits .benefits-list {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 90px; }
    section.benefits .benefits-list-item {
      position: relative;
      font-size: 17px;
      font-weight: 300;
      color: var(--grey-70);
      line-height: 40px; }
      section.benefits .benefits-list-item:before {
        content: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fad' data-icon='check-circle' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class='svg-inline--fa fa-check-circle fa-w-16 fa-2x'%3E%3Cg class='fa-group'%3E%3Cpath fill='%23D9FFE9' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm155.31 195.31l-184 184a16 16 0 0 1-22.62 0l-104-104a16 16 0 0 1 0-22.62l22.62-22.63a16 16 0 0 1 22.63 0L216 308.12l150.06-150.06a16 16 0 0 1 22.63 0l22.62 22.63a16 16 0 0 1 0 22.62z' class='fa-secondary'%3E%3C/path%3E%3Cpath fill='%230A7A3A' d='M227.31 387.31a16 16 0 0 1-22.62 0l-104-104a16 16 0 0 1 0-22.62l22.62-22.63a16 16 0 0 1 22.63 0L216 308.12l150.06-150.06a16 16 0 0 1 22.63 0l22.62 22.63a16 16 0 0 1 0 22.62l-184 184z' class='fa-primary'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
        position: relative;
        display: inline-block;
        margin-right: 18px;
        width: 29px;
        height: 29px;
        vertical-align: middle; }
  section.benefits .stats-heading {
    margin: 50px 0 70px; }
  section.benefits .stats-column-graph {
    margin-bottom: 21px; }
    section.benefits .stats-column-graph svg {
      vertical-align: middle;
      margin-right: 16px; }
    section.benefits .stats-column-graph .percentage {
      vertical-align: middle;
      font-weight: 700;
      font-size: 34px;
      letter-spacing: -2px;
      line-height: 26px;
      color: var(--blue-90); }
      section.benefits .stats-column-graph .percentage .plus {
        color: var(--pizza-red); }
  section.benefits .stats-column p {
    font-weight: 300;
    font-size: 17px;
    line-height: 26px;
    color: var(--grey-70); }

section.testimonials {
  background-color: green;
  background-image: url("img/2@-testimonials-background-waves.png"), linear-gradient(133deg, #0D9B49 0%, rgba(25, 206, 101, 0.6) 100%), url("img/pizza-img@2x.png");
  background-position: center top, center center, center center;
  background-size: contain, cover, cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  padding-top: 186px;
  padding-bottom: 138px;
  position: relative; }
  section.testimonials .testimonial-message {
    position: relative;
    margin: 0 10%;
    margin-bottom: 16px;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-style: italic;
    font-size: clamp(16px, 3vw, 22px);
    line-height: clamp(26px, 3vw, 36px); }
    section.testimonials .testimonial-message:after {
      content: '';
      display: block;
      width: 68px;
      height: 4px;
      margin-top: 20px;
      position: relative;
      left: 50%;
      bottom: 0;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      background: #FFFFFF;
      border-radius: 5px; }
  section.testimonials .testimonial-name {
    font-weight: 400;
    font-size: clamp(16px, 3vw, 18px);
    line-height: 36px;
    margin: 0; }
  section.testimonials .small-text {
    color: #FFFFFF; }
  section.testimonials .testimonial-image-wrapper {
    left: 50%;
    -webkit-transform: translateY(50%) translateX(-50%);
            transform: translateY(50%) translateX(-50%);
    bottom: 0;
    position: absolute; }
  section.testimonials button.testimonial-image {
    all: unset;
    cursor: pointer;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100%; }
    section.testimonials button.testimonial-image:not(:last-of-type) {
      margin-right: 8px; }
    section.testimonials button.testimonial-image.active:after {
      -webkit-transform: scale(1);
              transform: scale(1); }
    section.testimonials button.testimonial-image:after {
      content: '';
      position: absolute;
      display: block;
      z-index: 1;
      bottom: 8px;
      right: 8px;
      width: 16px;
      height: 16px;
      border: 3px solid #FFFFFF;
      border-radius: 100%;
      background-color: var(--pizza-red);
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
    section.testimonials button.testimonial-image img {
      width: 100%;
      height: 100%; }

section.promote {
  padding: 150px 0 63px; }
  section.promote .promote-image {
    margin-top: 38px;
    max-width: 100%; }

footer {
  padding-top: 170px;
  padding-bottom: 98px;
  background-image: url("img/bg-waves-footer@2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; }
  footer .cta-wrapper {
    margin-bottom: 92px; }
    footer .cta-wrapper .col {
      padding: 0 27%; }
    footer .cta-wrapper .regular-text {
      margin: 27px 0 33px;
      font-weight: 300;
      font-size: 17px;
      color: #939393;
      line-height: 26px; }
  footer .notice-text {
    font-weight: 300;
    font-size: 15px;
    color: #939393;
    line-height: 26px; }
    footer .notice-text a {
      all: unset;
      cursor: pointer;
      text-decoration: underline; }

@media screen and (max-width: 1150px) {
  .hero {
    background-size: 58rem, contain, contain, contain, cover;
    background-position: left top, center bottom, 0 0, 0 0, center center; } }

@media screen and (max-width: 991px) {
  .hero {
    height: auto;
    padding-bottom: 120px; }
  .hero-left-column .sign-up-cta {
    display: block !important; }
  .hero-right-column {
    display: none; }
  .testimonial-image-wrapper {
    white-space: nowrap; }
    .testimonial-image-wrapper:not(:last-of-type) {
      margin-right: 4px; } }

@media screen and (max-width: 575px) {
  body {
    padding-top: 26px; }
  header .logo-wrapper img {
    width: 106px; }
  .hero {
    padding-top: 191px; }
  .hero-left-column p {
    font-weight: 300; }
  .hero-left-column .sign-up-cta {
    width: 100%; } }
