// 
$max-width: 1140px;
$gutter: 35px;
$column-width: 60px;
$finger-size: 40px;

$border-radius: 5px;
$font-size: 16px;
$font-size-small: .9em;

// Colors


// Fonts
$font-family: 'Lato', sans-serif;

