#signup-form-wrapper {
	position: relative;
	padding: $column-width;
	padding-bottom: 52px;
	margin-top: 16px;

	background-color: #FFFFFF;
	border-radius: $border-radius;
	box-shadow: 0 6px 67px 0 rgba(11,116,55,0.14);

	--label-color: #888888;
	--input-color: #4D4D4D;
	--grey-60: #939393;
	
	.modal-close-button { display: none; }
	
	header {
		h3 {
			margin-bottom: 12px;
			transform: rotate(-3deg);
			font-size: 28px;
			font-weight: 900;
			font-style: italic;
			color: #4D4D4D;
			letter-spacing: 0;
			text-align: center;
			line-height: 26px;
		}
		span {
			font-weight: 400;
			font-size: 15px;
			color: #888888;
			letter-spacing: 0;
		}
	}

	form {
		margin-top: 36px;

		.input-field {
			position: relative;
			text-align: left;
			margin-bottom: 17px;
			label, input {
				position: relative;
				font-size: 15px;
				font-weight: 400;
				&:focus {
					outline: none;
				}
			}
			&__text {
				height: 48px;
				label {
					display: block;
					width: 100%;
					position: relative;
					margin: 0;
					z-index: 1;
					font-size: 15px;
					line-height: 15px;
					color: var(--label-color);
					transform: translateY(1.6em);
					transition: all .2s ease-out;
					transform-origin: 0 100%;
					&.active {
						transform: none;
						font-size: 12px;
					}
				}
				input {
					width: 100%;
					border: none;
					border-bottom: 1px solid #E4E4E4;
					color: var(--input-color);
					padding-bottom: 8px;
				}	
			}

			&__checkbox {
				display: flex;
				flex-wrap: nowrap;
				margin-top: 27px;
			}
		}

		input[type="checkbox"] {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none; 
			width: 19px;
			height: 19px;
			margin-right: 12px;
			background: #FFFFFF;
			border: 1px solid #D4D4D4;
			border-radius: 3px;

			
			&:checked {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%230A7A3A' d='M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z'/%3E%3C/svg%3E");
				background-position: center center;
				background-size: 90%;
				background-repeat: no-repeat;
			}
			
			& + label {
				font-size: 13px;
				position: relative;
				margin-bottom: 0;
				color: var(--label-color);
			}
		}

		.privacy-policy {
			margin-top: 24px;
			font-family: $font-family;
			font-size: 13px;
			text-align: left;
			color: var(--label-color);

			p { margin-bottom: 2rem; }
		}

		button[type="submit"] {
			width: 100%;
		}
	}

	.notice-text {
		position: absolute;
		bottom: -76px;
		left: 50%;
		transform: translateX(-50%);

		font-weight: 300;
		font-size: 15px;
		color: var(--grey-60);
	}

	&.in-modal {
		margin: 20px;
		margin-bottom: 64px;
		.input-field__text {
			input {
				position: relative;
				z-index: 1;
				background-color: transparent;
			}
			label {
				z-index: 0;
			}
		}
		.modal-close-button {
			all: unset;
			display: block;
			position: absolute;
			width: 20px;
			height: 20px;
			top: 16px;
			right: 13px;
			cursor: pointer;
			background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' data-prefix='far' data-icon='times' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' class='svg-inline--fa fa-times fa-w-10 fa-2x'%3E%3Cpath fill='%23939393' d='M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}
		
		.notice-text {
			width: 100%;
			color: #FFFFFF;
			bottom: -46px;
		}
	}
}