@media screen and (max-width: 1150px) {
	.hero {
		background-image:
			url('img/2@-hero-background-bubble.png'),
			url('img/2@-hero-background-waves.png'),
			linear-gradient(133deg, #0D9B49 0%, rgba(25,206,101,0.30) 100%),
			linear-gradient(270deg, rgba(255,255,255,0.00) 22%, #FFFFFF 70%),
			url('img/2@-hero-background-image-mobile.jpg');
		background-size: 58rem, contain, contain, contain, cover;
		background-position: left top, center bottom, 0 0, 0 0, center center;
	}
}

@media screen and (max-width: 991px) {
	.hero {
		height: auto;
		padding-bottom: 120px;
	}
	.hero-left-column .sign-up-cta { display: block !important; }
	.hero-right-column { display: none; }
	.testimonial-image-wrapper {
		white-space: nowrap;
		&:not(:last-of-type) { margin-right: 4px;}
	}
}

@media screen and (max-width: 768px) {
	section.benefits {
		margin-bottom: 72px;
		.stats-column {
			flex-direction: row !important;
			justify-content: flex-start !important;
			align-items: center;

			&-graph {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 16px;

				.percentage {
					position: absolute;
					font-weight: 400;
					font-size: 20px;
					letter-spacing: -1.18px;
					line-height: 26px;
				}
			}
		}
	}
}

@media screen and (max-width: 575px) {
	body {
		padding-top: 26px;
	}
	header .logo-wrapper img {
		width: 106px;
	}
	.hero {
		padding-top: 191px;
		background-size: 58rem, 100rem, contain, contain, cover;
		background-position: left top, left bottom, 0 0, 0 0, center center;
	}
	.hero-left-column {
		h1 { padding-right: 3rem; }
		.sign-up-cta { width: 100%; }
		p {
			font-weight: 300;
			padding-right: 1.2rem;
			margin: 2rem 0 1.5rem;
		}
	}

	section.benefits {
		.benefits-list {
			margin-bottom: 40px;
		}

		& > .container .row:last-of-type {
			margin-top: 16px;
		}
	}

	section.testimonials {
		background-image: url("img/2@-testimonials-background-waves.png"), linear-gradient(133deg, #0D9B49 0%, rgba(25, 206, 101, 0.6) 100%), url("img/pizza-img-mobile@2x.png");
		background-position: left top, center center, center center;
		background-size: 100rem, cover, cover;
	}

	section.promote {
		padding-top: 100px;
		.section-header {
			padding: 0 20%;

			h2 { margin-top: .5rem; }
		}

		.container > .row:last-of-type > div[class^="col"] {
			padding: 0;
		}
	}

	footer {
		background-position: left top;
	}
		
}