$enable-flex: true;
$enable-grid-classes: true;

:root {
	--blue-90: #474F55;
	--grey-90: #4D4D4D;
	--grey-70: #888888;
	--grey-40: #B4B4B4;
	--pizza-red: #D92F26;
}

body {
	font-family: $font-family;
	padding-top: 66px;
}

#main {
	position: relative;
	margin-top: -127px;
}

// Section Header
h2 {
	font-weight: 600;
	font-style: italic;
	font-size: clamp(22px, 3vw, 32px);
	color: var(--grey-90);
}

// Small Text
.small-text {
	font-weight: 300;
	font-size: clamp(13px, 3vw, 14px);
	color: var(--grey-40);
	text-align: center;
	margin: 0;
}

.hero {
	padding-top: 211px;
	height: 680px;
	background-image:
		url('img/2@-hero-background-bubble.png'),
		url('img/2@-hero-background-waves.png'),
		linear-gradient(133deg, #0D9B49 0%, rgba(25,206,101,0.30) 100%),
		linear-gradient(270deg, rgba(255,255,255,0.00) 22%, #FFFFFF 70%),
		url('img/2@-hero-background-image.jpg');

	background-size: 58rem, contain, contain, contain, contain;
	background-position: left top, center bottom, 0 0, 0 0, right center;
	background-repeat: no-repeat;
	background-color: #000000;

	&-left-column {
		h1 {
			margin: 0;
			position: relative;
			font-size: clamp(26px, 3vw, 38px);
			font-weight: 400;
			font-style: italic;
			line-height: clamp(32px, 3vw, 46px);
			letter-spacing: 0;
			color: #FFFFFF;

			span {
				position: relative;
				white-space: nowrap;
				&:after {
					content: '';
					position: absolute;
					display: block;
					width: 101%;
					height: 4px;
					bottom: -6px;
					left: 2px;
					box-sizing: border-box;
					border-radius: $border-radius;
					background-color: #FFFFFF;
				}
			}
		}
	
		p {
			margin-top: 26px;
			font-size: 17px;
			font-weight: 400;
			line-height: 26px;
			color: #FFFFFF;
		}
	}

	&-right-column {
		#signup-form-wrapper {
			position: relative;
			z-index: 9;
		}
	}
}

section.benefits {
	margin-top: 70px;
	margin-bottom: 130px;
	h2 {
		position: relative;
		margin-bottom: 17px;

		&:after {
			content: '';
			display: block;
			bottom: 0;
			width: 68px;
			height: 4px;
			margin-top: 17px;
			background: var(--pizza-red);
			border-radius: 2px;
		}
	}

	.benefits-list {
		padding-left: 0;
		list-style-type: none;
		margin-bottom: 90px;
		&-item {
			position: relative;
			font-size: 17px;
			font-weight: 300;
			color: var(--grey-70);
			line-height: 40px;

			&:before {
				content: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fad' data-icon='check-circle' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class='svg-inline--fa fa-check-circle fa-w-16 fa-2x'%3E%3Cg class='fa-group'%3E%3Cpath fill='%23D9FFE9' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm155.31 195.31l-184 184a16 16 0 0 1-22.62 0l-104-104a16 16 0 0 1 0-22.62l22.62-22.63a16 16 0 0 1 22.63 0L216 308.12l150.06-150.06a16 16 0 0 1 22.63 0l22.62 22.63a16 16 0 0 1 0 22.62z' class='fa-secondary'%3E%3C/path%3E%3Cpath fill='%230A7A3A' d='M227.31 387.31a16 16 0 0 1-22.62 0l-104-104a16 16 0 0 1 0-22.62l22.62-22.63a16 16 0 0 1 22.63 0L216 308.12l150.06-150.06a16 16 0 0 1 22.63 0l22.62 22.63a16 16 0 0 1 0 22.62l-184 184z' class='fa-primary'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
				position: relative;
				display: inline-block;
				margin-right: 18px;
				width: 29px;
				height: 29px;
				vertical-align: middle;
			}
		}
	}

	.stats-heading {
		margin: 50px 0 70px;
	}

	.stats-column {
		&-graph {
			margin-bottom: 21px;
			svg {
				vertical-align: middle;
				margin-right: 16px;
				.hook { transition: all 1s ease .3s; }
			}
			.percentage {
				vertical-align: middle;
				font-weight: 700;
				font-size: 34px;
				letter-spacing: -2px;
				line-height: 26px;
				color: var(--blue-90);
	
				.plus {
					color: var(--pizza-red);
				}
			}
		}
		p {
			font-weight: 300;
			font-size: 17px;
			line-height: 26px;
			color: var(--grey-70);
		}
	}

	#animate-chart-1 .hook {
		stroke-dasharray: 100;
		stroke-dashoffset: 20%;
	}

	#animate-chart-2 .hook {
		stroke-dasharray: 100;
		stroke-dashoffset: 30%;
	}

	#animate-chart-3 .hook {
		stroke-dasharray: 100;
		stroke-dashoffset: 30%;
	}
	
	// Chart animation on scroll
	#js-stats-wrapper {
		&.animate {
			#animate-chart-1 .hook,
			#animate-chart-2 .hook,
			#animate-chart-3 .hook {
				stroke-dashoffset: 100%;
			}
		}
	}
}

section.testimonials {
	background-color: green;
	background-image:
		url('img/2@-testimonials-background-waves.png'),
		linear-gradient(133deg, #0D9B49 0%, rgba(25,206,101,0.60) 100%),
		url('img/pizza-img@2x.png');
	
	background-position: center top, center center, center center;
	background-size: contain, cover, cover;
	background-repeat: no-repeat;
	color: #FFFFFF;
	padding-top: 186px;
	padding-bottom: 138px;
	position: relative;

	.testimonial-message {
		position: relative;
		margin: 0 10%;
		margin-bottom: 16px;
		font-family: 'Merriweather', serif;
		font-weight: 300;
		font-style: italic;
		font-size: clamp(16px, 3vw, 22px);
		line-height: clamp(26px, 3vw, 36px);

		&:after {
			content: '';
			display: block;
			width: 68px;
			height: 4px;
			margin-top: 20px;
			position: relative;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
			background: #FFFFFF;
			border-radius: $border-radius;
		}
	}

	.testimonial-name {
		font-weight: 400 ;
		font-size: clamp(16px, 3vw, 18px);
		line-height: 36px;
		margin: 0;
	}

	.small-text {
		color: #FFFFFF;
	}

	.testimonial-image-wrapper {
		left: 50%;
		transform: translateY(50%) translateX(-50%);
		bottom: 0;
		position: absolute;
	}
	
	button.testimonial-image {
		all: unset;
		cursor: pointer;

		position: relative;
		width: 100px;
		height: 100px;
		border-radius: 100%;

		&:not(:last-of-type) {
			margin-right: 8px;
		}

		&.active:after {
			transform: scale(1);
		}
		&:after {
			content: '';
			position: absolute;
			display: block;
			z-index: 1;
			bottom: 8px;
			right: 8px;
			width: 16px;
			height: 16px;
			border: 3px solid #FFFFFF;
			border-radius: 100%;
			background-color: var(--pizza-red);

			transform: scale(0);
			transition: all .3s ease;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}
}

section.promote {
	padding: 150px 0 63px;
	.promote-image {
		margin-top: 38px;
		max-width: 100%;
	}
}

footer {
	padding-top: 170px;
	padding-bottom: 98px;
	background-image:
		url('img/bg-waves-footer@2.png');

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;

	.cta-wrapper {
		margin-bottom: 92px;
		.col {
			padding: 0 27%;
		}
		.regular-text {
			margin: 27px 0 33px;
			font-weight: 300;
			font-size: 17px;
			color: #939393;
			line-height: 26px;
		}
	}

	.notice-text {
		font-weight: 300;
		font-size: 15px;
		color: #939393;
		line-height: 26px;

		a {
			all: unset;
			cursor: pointer;
			text-decoration: underline;
		}
	}
}

@import 'responsive';